name: pmv_tracker
description: "A crowdsourced PMV tracking app for PNG."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

  dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.0.1
  maplibre_gl: ^0.25.0    # Updated for Wasm
  geolocator: ^14.0.2     # Updated for Wasm To get the device's location

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
