name: pmv_tracker
description: "A crowdsourced PMV tracking app for PNG."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.0.1 # For database & real-time updates
  maplibre_gl: ^0.19.0    # For the interactive map
  geolocator: ^11.0.0     # To get the device's location

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
